/* Login.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  padding: 40px;
  width: 300px;
}

.login-form h3 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form label {
  font-weight: bold;
}

.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"],
.login-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #f4efd0;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  border: 1px solid transparent;
}

.login-form button:hover {
  color: #000;
  background-color: #B4A269;
}

.alert {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  color: #721c24;
}
