/* App.css */

/* Styles for the whole app container */
.app-container {
    display: flex;
  }
  

  .sidebar {
    width: 200px;
    height: 100%;
    background-color: #f0f0f0;
    padding: 20px;
    transition: left 0.3s ease; /* Add transition for smooth animation */
    position: fixed;
    top: 0;
    left: 0; /* Start with sidebar visible */
  }
  
  .sidebar.closed {
    left: -200px; /* Move sidebar out of view */
  }
  
  .toggle-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -30px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .toggle-button span {
    font-size: 20px;
  }
  
  
  .sidebar h2 {
    margin-bottom: 10px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    cursor: pointer;
  }
/*organization search*/
  .member-list-container {
    margin: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
}

.member-search-bar {
    width: 41%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.member-grid-container {
    overflow-x: auto;
}

.member-table {
    width: 100%;
    border-collapse: collapse;
}

.member-th,
.member-td {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.member-th {
    background-color: maroon;
    color: white;
}

.member-tr:nth-child(even) {
    background-color: #f2f2f2;
}

.member-tr:hover {
    background-color: #ddd;
}

  
  /* Styles for the main section */
  .main-section {
    flex: 1;
    padding: 20px;
  }


  .member-list-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .member-search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .member-grid-container {
    position: relative;
  }
  
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .member-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .member-table th,
  .member-table td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .member-tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .member-tr:hover {
    background-color: #e0e0e0;
  }
  
  .member-actions button {
    margin-right: 5px;
  }
  
  /* Styling for buttons */
  .member-grid-container button {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    background-color: #f4efd0;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .member-grid-container button:hover {
    background-color: #B4A269;
  }
  
  .member-search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .member-grid-container {
    position: relative;
  }
  
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .member-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .member-table th,
  .member-table td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .member-tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .member-tr:hover {
    background-color: #e0e0e0;
  }
  
  .member-actions button {
    margin-right: 5px;
  }
  
  /* Styling for top bar */
.member-grid-container th {
  background-color: #500000;
  color: white;
}

/* Landing */

.instructions-container {
  background-color: #fff;
  padding: 20px;
  max-width: calc(80% + 40px);
  margin: 20px auto;
}

.instructions {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  max-width: 80%;
  margin: 20px auto;
  font-size: 1em;
}

.instructions h1 {
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
}

.instructions h2,
.instructions h3,
.instructions h4 {
  text-align: center;
  font-weight: unset;
}

.instructions p {
  margin-bottom: 15px;
  text-align:center;
  justify-content: space-between;
  display: flex;
}

.instructions p strong {
  font-weight: bold;
  text-decoration: underline;
}

.instructions ul {
  list-style-type: none;
  padding-left: 0;
}

.instructions ul li {
  margin-bottom: 10px;
  margin-top: 20px;
  font-weight: bold;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;

}

.instructions ul li::before {
  content: '•';
  color: #500000;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.instructions ul ul {
  margin-top: 10px;
}

.instructions ul ul li {
  margin-bottom: 5px;
  margin-top: 0px;
  font-weight: unset;
}

.instructions ul ul li::before {
  content: '-';
  color: #500000;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.instructions ul ul ul {
  margin-top: 10px;
}

.instructions ul ul ul li {
  margin-bottom: 0;
  font-weight: unset;
}

.instructions ul ul ul li::before {
  content: '◦';
  color: #007bff;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.org-dropdown {
  width: 20%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  color: #333;
}

.events-button {
  padding: 10px;
  margin-bottom: 5px;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  background-color: #f4efd0;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.events-button:hover {
  background-color: #B4A269;
}