/* college-events */

/* style.css */

.search-bar {
    width: calc(90%);
    padding: 10px;
    margin-top: 10px;
    border: 2px solid;
    border-radius: 10px;
    font-size: 16px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .search-bar:focus {
    outline: none;
    border-color: maroon;
    box-shadow: 0px 0px 10px maroon;
  }
  
  /* College events styles */
  .college-events-container {
    display: flex;
    width: 100%;
  }
  
  .college-events-sidebar {
    width: 30%;
    overflow-y: auto; /* Enable scrolling if events overflow */
    padding: 20px; /* Added padding */
  }
  
  .college-events-details {
    width: 70%;
    padding: 20px;
  }
  
  .event-bar-create-new {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    justify-content: center;
    border: 2px dashed #007bff; /* Changed color */
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .event-bar-create-new:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  .event-bar-create-new-name {
    display: block;
    text-align: center;
    font-weight: bold;
    color: #007bff; /* Change text color */
  }
  
  .event-bar {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .event-bar.selected {
    background-color: #f0f0f0; /* Highlight selected event */
  }
  
  .event-bar-name {
    font-weight: bold;
    color: #333;
    margin-right: 20px;
  }
  
  .event-bar-details {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .event-bar-plot,
  .event-bar-timestamp {
    margin-left: 20px;
  }
  
  .event-bar:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  }
  

/* college-plots.css */

.college-plots-container {
    display: flex;
    height: 100vh;
  }
  
  .college-plots-sidebar {
    width: 30%;
    padding: 20px;
    border-right: 2px solid #ccc;
  }
  
  .college-plots-content {
    width: 70%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .plot-list {
    margin-top: 20px;
    overflow-y: auto;
    max-height: calc(100vh - 200px);
  }
  
  .placeholder {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
  }

.college-plots-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
}

.plot-bar {
    display: flex;
    align-items: center;
    width: calc(90%);
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.plot-bar:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.plot-bar:hover img {
    filter: none;
}

.plot-bar-thumbnail {
    width: 96px;
    height: 96px;
    border-radius: 8px;
    margin-right: 10px;
}

.plot-bar-name {
    font-weight: bold;
    color: #333;
}

.plot-bar-details {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.plot-bar.clicked {
    transform: translateY(2px);
    box-shadow: none;
    border: 2px solid #333;
    background-color: #f0f0f0;
    outline: none;
    border-color: maroon;
    box-shadow: 0px 0px 1px maroon;
}

.plot-bar-create-new {
    display: flex;
    align-items: center;
    width: calc(90%);
    margin-bottom: 10px;
    justify-content: center;
    border: 2px dashed maroon;
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    cursor: pointer;
}

  .plot-bar-create-new:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
  
  .plot-bar-create-new-name {
    display: block;
    text-align: center;
    font-weight: bold;
    color: #007bff;
}

.plot-bar-create-new.clicked {
    transform: translateY(2px);
    box-shadow: none;
    border: 2px solid #333;
    background-color: #f0f0f0;
    outline: none;
    border-color: maroon;
    box-shadow: 0px 0px 1px maroon;
}

.plot-search-bar {
    width: calc(90%);
    padding: 10px;
    margin-top: 10px;
    border: 2px solid;
    border-radius: 10px;
    font-size: 16px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .plot-search-bar:focus {
    outline: none;
    border-color: maroon;
    box-shadow: 0px 0px 10px maroon;
  }

/* college-plots-tool */

.popup-content {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
    overflow: hidden;
  }

  .map-container {
    flex-grow: 1;
    height: 0;
  }

  .feedback-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 5px;
    z-index: 9999;
  }

/* college-orgs */

.org-list-container {
    margin: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
}

.org-search-bar {
    width: 41%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.org-grid-container {
    overflow-x: auto;
}

.org-table {
    width: 100%;
    border-collapse: collapse;
}

.org-th,
.org-td {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.org-th {
    background-color: maroon;
    color: white;
}

.org-tr:nth-child(even) {
    background-color: #f2f2f2;
}

.org-tr:hover {
    background-color: #ddd;
}

/* college-messages */

  .msg-list-container {
    margin: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
}

.msg-search-bar {
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.msg-grid-container {
    overflow-x: auto;
}

.msg-table {
    width: 100%;
    border-collapse: collapse;
}

.msg-th,
.msg-td {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.msg-th {
    background-color: maroon;
    color: white;
}

.msg-tr:nth-child(even) {
    background-color: #f2f2f2;
}

.msg-tr:hover {
    background-color: #ddd;
}

.page-select {
    margin-top: 10px;
    text-align: center;
  }
  
  .page-select button {
    margin: 0 5px;
  }
